#cloud-config
hostname: edge-01
timezone: America/Los_Angeles
package_update: true
package_upgrade: true
packages: [curl, ca-certificates, gnupg, docker.io, docker-compose-v2, git, unzip, terraform]
runcmd:
  - curl -fsSL https://tailscale.com/install.sh | sh
  - tailscale up --authkey=${tskey-auth-kcJ5FKMav311CNTRL-KcBqyFD6xZjQwAosMqHmZjrjoCFTKoHG} --ssh --hostname=edge-01 --advertise-tags=tag:edge,tag:prod
  - mkdir -p /opt/orion && cd /opt/orion
  - git clone ${REPO_URL: https://github.com/OrionArchitekton/orion_edge_app.git} || true
  - cd orion_edge_app
  - '[ -f deploy/cosmocrat-v1.compose.yml ] && docker compose -f deploy/cosmocrat-v1.compose.yml up -d || true'
